---
import Layout from "../../layouts/Layout.astro";
// import Cards from "../../components/Cards.astro";
---

<Layout>
    <div
        class="mx-auto max-w-3xl mb-32 w-full prose prose-neutral dark:prose-invert"
    >

        <h2>Gacha</h2>
        <p>
            Money exists to be spent. Eating is optional. There is no time
            to lose when waifus are on the line. The rate up is a lie. A
            fool and his money are soon parted.
        </p>

        <h3>Active Games</h3>
        <ul class="list-disc mb-8">
            <li>Azur Lane</li>
            <li>Arknights</li>
            <li>Nikke</li>
        </ul>

        <h3>Games I Historically Played A Lot</h3>
        <ul class="list-disc mb-8">
            <li>Sdorica</li>
            <li>Venus Eleven</li>
            <li>Genshin Impact</li>
            <li>Honkai: Star Rail</li>
            <li>Princess Connect! Re:Dive</li>
        </ul>

        <h3>Games I Wanted To Like</h3>
        <ul class="list-disc mb-8">
            <li>Blue Archive</li>
            <li>Counter:Side</li>
            <li>Aether Gazer</li>
            <li>Girl's Frontline</li>
        </ul>

        <h2>Anime</h2>
        <ul class="list-disc mb-8">
            <li>KonoSuba</li>
            <li>Bocchi the Rock</li>
            <li>Majo no Tabitabi</li>
            <li>Gridman Universe</li>
            <li>Yuru Camp</li>
            <li>Girls und Panzer</li>
        </ul>

        <h2>Vtuber</h2>
        <ul class="list-disc mb-8">
            <li><strong>HoloEN</strong>: Ceres Fauna, Takanashi Kiara, Fuwamoco</li>
            <li><strong>HoloJP</strong>: Minato Aqua, Sakamata Chloe, Ichijou Ririka</li>
            <li><strong>HoloID</strong>: Vestia Zeta</li>

            <li><strong>NijisanjiEN</strong> Rosemi Lovelocke, Victoria Brightshield</li>
            <li><strong>NijisanjiJP</strong>: Amamiya Kokoro</li>

            <li><strong>Phase Connect</strong>: Jelly Hoshiumi, Amanogawa Shiina</li>

            <li><strong>EIEN</strong>: Nanimo Navi</li>

            <li><strong>PixelLink</strong>: Lottie Shinju</li>

            <li><strong>V-Dere</strong>: Kirispica</li>

            <li><strong>Indies</strong>: Whoever streams dailies in gachas I play, Mogu Ghost, Fallenshadow</li>
        </ul>        
    </div>
    <!-- <Cards /> -->
</Layout>
