---
export const prerender = true
import { getCollection, render } from 'astro:content'
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post)
---

<Layout title={post.data.title} showNavbar={false} >
    <div class="m-auto prose prose-invert max-w-7xl px-8 mb-16 break-all">
        <Content />
    </div>
</Layout>