---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Gacha">
  <div class="mx-auto max-w-3xl mb-32 w-full prose prose-neutral dark:prose-invert">
    <h2>Gacha</h2>
    <p>I do not have an addiction.</p>

    <h3>Active Games</h3>
    <ul class="list-disc mb-8">
      <li><a href="#al">Azur Lane</a></li>
      <li><a href="#ak">Arknights</a></li>
      <li><a href="#ba">Blue Archive</a></li>
      <li>Honkai: Star Rail</li>
      <li><a href="#nikke">Nikke</a></li>
      <li>Uma Musume: Pretty Derby</li>
      <li>Stella Sora</li>
    </ul>

    <h3>Games I Historically Played A Lot</h3>
    <ul class="list-disc mb-8">
      <li>Sdorica</li>
      <li>Girl's Frontline</li>
      <li>Venus Eleven</li>
      <li>Genshin Impact</li>
      <li>Princess Connect! Re:Dive</li>
      <li>Girl's Frontline 2 (wawa)</li>
       <li>Zenless Zone Zero</li>
    </ul>

    <h3>Games I Tried/Wanted To Like</h3>
    <ul class="list-disc mb-8">
      <li>Counter:Side</li>
      <li>Aether Gazer</li>
      <li>Chaos Zero Nightmare</li>
    </ul>

    <h1>Favorites</h1>

    <h2>Anime</h2>
    <p>I have immaculate taste, every anime I watch is something that will land in my favorites. This is what happens when you watch stuff that you know is in your preferred genre, and not watch something you know you won't like because you are shounen-brained then rating the show (looking at you, shounen watchers who watch Frieren)</p>
    <ul class="list-disc mb-8">
      <li>Girls und Panzer</li>
      <li>K-On</li>
      <li>Non Non Biyori</li>
      <li>Bocchi the Rock</li>
      <li>Yuru Camp</li>
      <li>Liz to Aoi Tori </li>
      <li>Dangers in my Heart</li>
      <li>Lycoris Recoil</li>
      <li>Girls Band Cry</li>
      <li>Shirobako</li>
    </ul>

    <h2>Vtuber</h2>
    <ul class="list-disc mb-8">
      <li><strong>HoloEN</strong>: Ceres Fauna</li>
      <li><strong>HoloJP</strong>: Minato Aqua</li>
      <li><strong>HoloID</strong>: Vestia Zeta</li>

      <li><strong>Nijisanji EN</strong> Rosemi Lovelocke</li>
      <li><strong>Nijisanji JP</strong>: Amamiya Kokoro</li>

      <li><strong>Phase Connect</strong>: Jelly Hoshiumi</li>
    </ul>

    <h2 id="ak">Operators</h2>
    <ul class="list-disc mb-8">
      <li>Rockrock</li>
      <li>Dusk</li>
      <li>Frostleaf</li>
      <li>Rosa</li>
      <li>Sideroca</li>
      <li>Hibiscus</li>
      <li>Delphine</li>
      <li>Amiya</li>
      <li>Papyrus</li>
      <li>Crownslayer</li>
      <li>Blue Poison</li>
      <li>Typhon</li>
    </ul>

    <h2 id="al">Fleets</h2>
    <ul class="list-disc mb-8">
      <li><strong>Eagle Union:</strong> New Jersey ⭐, Enterprise, Essex, Seattle, Anchorage, Baltimore, Boise, Helena</li>
      <li><strong>Royal Navy:</strong> Monarch, Formidable, Janus, Sirius, Unicorn</li>
      <li><strong>Sakura Empire:</strong> Shimanto, Shimakaze, Shinano, Nagato, Noshiro ⭐</li>
      <li><strong>Iron Blood:</strong> Elbing ⭐, Z11</li>
      <li><strong>Dragon Empery:</strong> Hwah Jah</li>
      <li><strong>Northern Parliament:</strong> Admiral Nakhimov, Kiev, Voroshilov</li>
      <li><strong>Iris Libre:</strong> Alsace, Massena, Painleve ⭐</li>
      <li><strong>Vichya Dominion:</strong> Gascogne, Joffre ⭐, Marseillaise, La Galissonniere ⭐</li>
      <li><strong>Sardegna Empire:</strong> Leonardo da Vinci, Vittorio Veneto</li>
      <li><strong>Kingdom of Tulipa:</strong> </li>
    </ul>

    <h2 id="ba">Academies</h2>
    <ul class="list-disc mb-8">
      <li><strong>Millennium</strong>: Omagari Hare, Hayase Yuuka</li>
      <li><strong>Trinity</strong>: Iochi Mari ⭐, Ajitani Hifumi</li>
      <li><strong>Gehenna</strong>: Igusa Haruka, Sorasaki Hina</li>
      <li><strong>Abydos</strong>: Kuromi Serika</li>
      <li><strong>Shanhaijing</strong>: Ryuuge Kisaki</li>
      <li><strong>Hyakkiyako</strong>: Waraku Chise</li>
      <li><strong>Red Winter</strong>: Yasumori Minori</li>
      <li><strong>Arius</strong>: Hakari Atsuko</li>
      <li><strong>SRT</strong>: Tsukiyuki Miyako, Kasumizawa Miyu</li>
      <li><strong>Valkyrie</strong>: Nemugaki Fubuki</li>
      <li><strong>Highlander</strong>: Tachibana Hikari</li>
      <li><strong>Wild Hunt</strong>: Itagaki Kanoe</li>
      <li><strong>GSC</strong>: Shiranui Kaya</li>
    </ul>

    <h2 id="nikke">Nikke</h2>
    <ul class="list-disc mb-8">
      <li><strong>Elysion:</strong> Privaty ⭐, Signal, Helm, Vesti, Exia</li>
      <li><strong>Missilis:</strong> Naga, Pepper, Tove</li>
      <li><strong>Tetra:</strong> Alice, Anis, Blanc, Noir</li>
      <li><strong>Pilgrims:</strong> Cinderella, Scarlet, Little Mermaid</li>
    </ul>

    <h2>3D</h2>
    <ul class="list-disc mb-8">
      <li><strong>HSR:</strong> Herta ⭐, Qingque, Firefly, Castorice, Silver Wolf</li>
      <li><strong>Genshin Impact:</strong> Keqing ⭐, Noelle</li>
      <li><strong>Zenless Zone Zero:</strong> Vivian Banshee</li>
      <li><strong>Wuthering Waves:</strong> Iuno, Phoebe</li>
    </ul>

    <h2>Other</h2>
    <ul class="list-disc mb-8">
      <li><strong>Umamusume:</strong> Daiwa Scarlet ⭐, Mayano Top Gun, Rice Shower</li>
      <li><strong>GFL:</strong> WA2000 ⭐, HK416</li>
      <li><strong>Priconne:</strong> Miyako, Kyouka, Yuni, Kasumi</li>
    </ul>
  </div>

</Layout>
