---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Gacha">
  <div class="mx-auto max-w-3xl mb-16 w-full prose prose-neutral dark:prose-invert">
    <h2>Gacha</h2>
    <p>Money sink name theft</p>

    <h3>Active Games</h3>
    <ul class="list-disc mb-8">
      <li>Azur Lane</li>
      <li>Arknights</li>
      <li>Blue Archive</li>
      <li>Nikke</li>
      <li>Girl's Frontline 2</li>
    </ul>

    <h3>Games Hanging On</h3>
    <ul class="list-disc mb-8">
      <li>Honkai: Star Rail</li>
    </ul>

    <h3>Games I Historically Played A Lot</h3>
    <ul class="list-disc mb-8">
      <li>Sdorica</li>
      <li>Venus Eleven</li>
      <li>Genshin Impact</li>
      <li>Princess Connect! Re:Dive</li>
    </ul>

    <h3>Games I Wanted To Like</h3>
    <ul class="list-disc mb-8">
      <li>Counter:Side</li>
      <li>Aether Gazer</li>
      <li>Girl's Frontline</li>
      <li>Zenless Zone Zero</li>
    </ul>

    <h2>Anime</h2>
    <ul class="list-disc mb-8">
      <li>K-On</li>
      <li>KonoSuba</li>
      <li>Bocchi the Rock</li>
      <li>Yuru Camp</li>
    </ul>

    <h2>Vtuber</h2>
    <ul class="list-disc mb-8">
      <li><strong>HoloEN</strong>: Ceres Fauna</li>
      <li><strong>HoloJP</strong>: Minato Aqua</li>
      <li><strong>HoloID</strong>: Vestia Zeta</li>

      <li><strong>NijisanjiEN</strong> Rosemi Lovelocke</li>
      <li><strong>NijisanjiJP</strong>: Amamiya Kokoro</li>

      <li><strong>Phase Connect</strong>: Jelly Hoshiumi</li>

      <li><strong>PixelLink</strong>: Lottie Shinju</li>

      <li><strong>V-Dere</strong>: Kirispica</li>

      <li><strong>Indies</strong>: Whoever streams dailies in gachas I play, Mogu Ghost, Fallenshadow</li>
    </ul>

    <h2>Academies</h2>
    <ul class="list-disc mb-8">
      <li><strong>Millennium</strong>: Omagari Hare</li>
      <li><strong>Trinity</strong>: Iochi Mari</li>
      <li><strong>Gehenna</strong>: Igusa Haruka</li>
      <li><strong>Abydos</strong>: Kuromi Serika</li>
      <li><strong>Shanhaijing</strong>: Ryuuge Kisaki</li>
      <li><strong>Hyakkiyako</strong>: Waraku Chise</li>
      <li><strong>Red Winter</strong>: Yasumori Minori</li>
      <li><strong>Arius</strong>: Hakari Atsuko</li>
      <li><strong>SRT</strong>: Tsukiyuki Miyako</li>
      <li><strong>Valkyrie</strong>: Nemugaki Fubuki</li>
      <li><strong>Schale</strong>: Shiranui Kaya</li>
    </ul>
  </div>

</Layout>
