---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Gacha">
  <div class="mx-auto max-w-3xl mb-16 w-full prose prose-neutral dark:prose-invert">
    <h2>Gacha</h2>
    <p>Money sink name theft</p>

    <h3>Active Games</h3>
    <ul class="list-disc mb-8">
      <li>Azur Lane</li>
      <li>Arknights</li>
      <li>Blue Archive</li>
      <li>Nikke</li>
    </ul>

    <h3>Games Hanging On</h3>
    <ul class="list-disc mb-8">
      <li>Honkai: Star Rail</li>
    </ul>

    <h3>Games I Historically Played A Lot</h3>
    <ul class="list-disc mb-8">
      <li>Sdorica</li>
      <li>Venus Eleven</li>
      <li>Genshin Impact</li>
      <li>Princess Connect! Re:Dive</li>
    </ul>

    <h3>Games That Gave Me Koleda Instead of Ellen</h3>
    <ul class="list-disc mb-8">
      <li>Zenless Zone Zero</li>
    </ul>

    <h3>Games I Wanted To Like</h3>
    <ul class="list-disc mb-8">
      <li>Counter:Side</li>
      <li>Aether Gazer</li>
      <li>Girl's Frontline</li>
    </ul>

    <h2>Anime</h2>
    <ul class="list-disc mb-8">
      <li>K-On</li>
      <li>KonoSuba</li>
      <li>Bocchi the Rock</li>
      <li>Yuru Camp</li>
      <li>Girls und Panzer</li>
    </ul>

    <h2>Vtuber</h2>
    <ul class="list-disc mb-8">
      <li><strong>HoloEN</strong>: Ceres Fauna</li>
      <li><strong>HoloJP</strong>: Minato Aqua</li>
      <li><strong>HoloID</strong>: Vestia Zeta</li>

      <li><strong>NijisanjiEN</strong> Rosemi Lovelocke</li>
      <li><strong>NijisanjiJP</strong>: Amamiya Kokoro</li>

      <li><strong>Phase Connect</strong>: Jelly Hoshiumi</li>

      <li><strong>EIEN</strong>: Nanimo Navi</li>

      <li><strong>PixelLink</strong>: Lottie Shinju</li>

      <li><strong>V-Dere</strong>: Kirispica</li>

      <li><strong>Indies</strong>: Whoever streams dailies in gachas I play, Mogu Ghost, Fallenshadow</li>
    </ul>

    <h2>Academies</h2>
    <ul class="list-disc mb-8">
      <li><strong>Millennium</strong>: Omagari Hare, Hayase Yuuka</li>
      <li><strong>Trinity</strong>: Iochi Mari, Misono Mika, Yurizono Seia</li>
      <li><strong>Gehenna</strong>: Igusa Haruka, Sorasaki Hina</li>
      <li><strong>Abydos</strong>: Kuromi Serika, Okusora Ayane</li>
      <li><strong>Shanhaijing</strong>: Ryuuge Kisaki</li>
      <li><strong>Hyakkiyako</strong>: Waraku Chise</li>
      <li><strong>Red Winter</strong>: Yasumori Minori, Akiizumi Momiji</li>
      <li><strong>Arius</strong>: Hakari Atsuko</li>
      <li><strong>SRT</strong>: Tsukiyuki Miyako</li>
      <li><strong>Valkyrie</strong>: Nemugaki Fubuki</li>
      <li><strong>Schale</strong>: Shiranui Kaya</li>
    </ul>
  </div>

  <div class="grid grid-cols-3 mb-2">
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Essex.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Privaty.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/TB.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Frostleaf.png" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Herta.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Keqing.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Haruka.png" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Rikka.jpg" />
    </div>
    <div class="max-h-[317px] overflow-hidden">
      <img src="/mosaic/Yunyun.jpg" />
    </div>
  </div>
  <p class="text-xs">Privaty, Essex, TB, Frostleaf, Herta, Keqing, Inui Sajuna, Takarada Rikka, Yunyun</p>
  <p class="text-xs mb-32">Not pictured - New Jersey (no art safe enough)</p>
</Layout>
