---
import Layout from '../layouts/Layout.astro'
import WikiboxEntry from '../components/WikiboxEntry.astro'
---

<Layout title="Cards">
  <div class="mx-auto w-full max-w-7xl mb-32 ">
    <article class="relative p-8">
        <h1 class="font-medium text-2xl mb-8 tracking-tighter">Kractero</h1>
            <aside class="float-none md:float-right self-start ml-6 mb-4 w-full md:w-[350px] text-center border border-white rounded-lg p-4 text-sm prose prose-neutral dark:prose-invert">
                <h3 class="text-lg text-center font-bold"@sp>Kingdom of Kractero</h3>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <div class="grid grid-cols-2 max-w-[312px] items-center justify-center">
                    <figure class="mx-auto">
                        <img class="p-2" src="./Flag.png" alt="Flag" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">Flag</figcaption>
                    </figure>
                    <figure class="mx-auto">
                        <img class="p-2 max-h-[150px]" src="./Seal.png" alt="Flag" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">National Seal</figcaption>
                    </figure>
                </div>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <p><strong>Motto:</strong> Progress is not without unity</p>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <p><strong>Motto:</strong> People of Magic</p>
                <audio class="p-0 mb-8 w-72" src="Anthem.mp3" controls></audio>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <img class="mx-auto" src="Ortho.png" />

                <p>Location of Kractero (green)</p>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Capital" text="Merdas" />
                <WikiboxEntry heading="Largest city" text="Herta" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Official languages" text="English, Tyranian, Rancamoian, Serikaese, Valenish, Karthwasten" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <div class="flex justify-between items-center">
                    <strong>Species distribution</strong>
                    <ul class="list-none text-left">
                        <li>26% Wood Elf</li>
                        <li>20.1% Human</li>
                        <li>14.3% Dark Elf</li>
                        <li>10.2% Dwarf</li>
                        <li>7.3% Orc</li>
                        <li>7.2% Deep Elf</li>
                        <li>6.6% High Elf</li>
                        <li>4.4% Troll</li>
                        <li>2.2% Deep Elf</li>
                        <li>1.7% other groups</li>
                    </ul>
                </div>

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Religion" text="Aldasa" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Denonym" text="Kracterian" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Government" text="Federal constitutional parliamentary monarchy" />
                <WikiboxEntry heading="Monarch" text="Lander I of Meritus" />
                <WikiboxEntry heading="Head Councillor" text="Sejyrenewe Kira Zonordesh" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Legislature" text="Parliament" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Area" text="103,125 km²" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Population" text="1,899,277" />
                <WikiboxEntry heading="Density" text="15.5/km²" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="GDP (PPP)" text="$325 billion" />
                <WikiboxEntry heading="Per capita" text="$171,118" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="GDP (Nominal)" text="$228 billion" />
                <WikiboxEntry heading="Per capita" text="$119,653" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Currency" text="Kracterian dollar (KRD)" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Time zone" text="UTC ±00:00" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Date format" text="yyyy-mm-dd (CE)" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Drives on the" text="right" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="Currency" text="Kracterian dollar (KRD)" />

                <div class="w-full clear-both h-[1px] bg-white"></div>

                <WikiboxEntry heading="TLD" text=".kt" />
            </aside>
            <div class="prose prose-neutral dark:prose-invert w-full max-w-full">
                <p>The Kingdom of Kractero, commonly known as <span class="font-bold">Kractero</span>, is an island country situated between the North Atlantic and Arctic Oceans. The nation is one of the most sparsely populated countries in Europe. Kractero is geographically located on the Mid-Atlantic-Ridge and experiences constant volcanic activity in its central plateau. The majority of the land is mountainous and therefore is mostly unsuitable for farming. As a result of this, Kractero is one of the most densely populated and most urbanized countries in the world.</p>
                <p>Kracterian magic and spiritual attunement was believed to have been granted by a mysterious figure known as the Herta, or Herta. Prior to unity, Kractero was a constant battleground between the elven states and the other races and tribes of the nation. Under Learep I and the Auk Steklr, Kractero was united for the first time. Following periods of isolation under the Rancamo and Meritus Dynasties, Kractero opened its borders under Empress Leani, fostering economic growth and developing international relations. However, internal discontent led to her abdication, culminating in the establishment of the Council of Kractero in 1859. Since then, the nation has played pivotal roles in global conflicts, supporting allies during the War of the Ninth Coalition, the Great War, and the Second Victorian Civil War.</p>
                <p>The nation is ruled by a council comprising representatives from five internal polities, which are the High, Wood, Dark, Sea, and Deep Elven states, alongside delegates from the sentient Auk population and various minor tribes and races. The council acts as the head of government and state. The nation has a bicameral legislature comprised of the House of Lords and the House of Commons.</p>
                <p>Kractero is classified as a highly-developed, high-income, industrialized country, with one of the highest standards of living in the world. The country is multi-ethnic, being made up between five primary elven races, minor tribes, settlements of humans, and sentient auks. The nation is not a nuclear power and is a part of the Non-Aligned movement. The nation was a founding member of the World Assembly.</p>
            </div>
            <div class="border border-white rounded-lg p-4 w-72 mt-4">
                <h3 class="font-semibold mb-2">Contents</h3>

                <ul class="list-none space-y-2 text-sm">
                    <li><a href="#etymology" class="hover:underline">Etymology</a></li>
                    <li><a href="#history" class="hover:underline">History</a></li>
                    <li><a href="#geography" class="hover:underline">Geography</a></li>
                    <li>
                    <a href="#government" class="hover:underline">Government</a>
                    <ul class="list-none mt-2 pl-4 space-y-2">
                        <li><a href="#legislature" class="hover:underline">Legislature</a></li>
                        <li><a href="#executive" class="hover:underline">Executive</a></li>
                        <li><a href="#constituents" class="hover:underline">Constituents</a></li>
                        <li><a href="#other" class="hover:underline">Other Groups</a></li>
                        <li><a href="#foreign" class="hover:underline">Foreign Relations</a></li>
                        <li><a href="#military" class="hover:underline">Military</a></li>
                    </ul>
                    </li>
                    <li>
                    <a href="#demographics" class="hover:underline">Demographics</a>
                    <ul class="list-none mt-2 pl-4 space-y-2">
                        <li><a href="#racial" class="hover:underline">Ethnic Groups</a></li>
                        <li><a href="#religion" class="hover:underline">Religion</a></li>
                        <li><a href="#language" class="hover:underline">Language</a></li>
                        <li><a href="#education" class="hover:underline">Education</a></li>
                        <li><a href="#health" class="hover:underline">Health</a></li>
                    </ul>
                    </li>
                    <li>
                    <a href="#culture" class="hover:underline">Culture</a>
                    <ul class="list-none mt-2 pl-4 space-y-2">
                        <li><a href="#cuisine" class="hover:underline">Cuisine</a></li>
                        <li><a href="#music" class="hover:underline">Music</a></li>
                        <li><a href="#literature" class="hover:underline">Literature and Visual Arts</a></li>
                        <li><a href="#sports" class="hover:underline">Sports</a></li>
                    </ul>
                    </li>
                    <li><a href="#economy" class="hover:underline">Economy</a></li>
                    <ul class="list-none mt-2 pl-4 space-y-2">
                        <li><a href="#technology" class="hover:underline">Magic and Technology</a></li>
                        <li><a href="#transport" class="hover:underline">Transport</a></li>
                        <li><a href="#energy" class="hover:underline">Energy</a></li>
                    </ul>
                    </li>
                </ul>
            </div>

            <div class="prose prose-sm prose-neutral dark:prose-invert w-full max-w-full">
                <h2 id="etymology" class="mt-4 mb-2">Etymology</h2>
                <p>The name "Kractero" was first discovered transcribed on a tablet given to the dwarves after they imbued her signature hammer with ice. The origins of the word are unknown and shrouded in mystery due to its association with both magic and the divine. However, the word Kractero itself lended itself to the Dwarven lexicon, where the word "Krac" is used to describe volcanoes, and "ero" a landmass.</p>

                <h2 id="history" class="mt-4 mb-2">History</h2>
                <h3 class="mt-4">Ancient History</h3>
                <figure class="float-none sm:float-left m-auto sm:mt-2 sm:mb-4 sm:mr-4 border border-white rounded-lg w-72">
                    <img class="p-4 pb-0" src="./Herta.png" alt="Herta" />
                    <figcaption class="text-center text-sm p-2 pt-0 mt-1">A portrait of the enigmatic Herta in her namesake city of Herta</figcaption>
                </figure>

                <p>Prior to the arrival of elves and other sentient beings, various pockets of sentient auks already inhabited Kractero. These auks are believed to have gained their intelligence through the work of the falfea Faelya, who harnessed the island's innate magic. In addition to the sentient auks, Cyclopses are also thought to have already been present in Kractero, although their origins remain unknown.</p>
                <p>Historical accounts attribute the arrival of elven populations on Kractero to their creation by an unknown deity, using the island's magical forces. This phenomenon of magic giving rise to sentient life can also be found in other tectonically active and magical regions, such as Japan and the Mediterranean. The origins of other sentient creatures on Kractero follow a similar pattern. By the time the elves arrived, these populations had already established themselves, most notably through the Warband polity, which dominated much of ancient Kractero. Composed primarily of goblins and centaurs, the Warband raided elven settlements, keeping their tribes fragmented and vulnerable.</p>

                <p class="mb-0">Warband dominance over Kractero began to decline when the sentient auks began to provide assistance to the elven populations. Guided by the strategic brilliance of Auk Steklr, the elves began to shift the balance of power in their favor. Steklr served as Grand Vizier to Chief Learep of the Wood Elves and was instrumental in uniting the elven forces. In the pivotal Battle of Herta in 110 AD, Chief Learep defeated the Warband's elite Bloodshard trolls and reclaimed the old high elven capital of Qalinor. Over the following decades, Learep's forces conquered or neutralized the Warband and rival elven states, culminating in the unification of Kractero in 132 AD, with Learep I crowned as the first Emperor of Kractero, establishing the Rancamo Dynasty.</p>
                <h3 class="mt-2">Classical History</h3>
                <p>During the Rancamo Dynasty, power in Kractero was centralized around the influence of the Wood Elven kingdom, with the High Elves gaining prominence due to their contributions in the unification wars and shrewd political and diplomatic agreements. This period of consolidation also witnessed "The Elimination," an event under Emperor Yohanes I, marked by the large-scale ethnic cleansing of the Warband, including trolls, goblins, and centaurs, with an estimated 65-90% of these populations being forcibly relocated or killed. This event has stained the historical reputation and view towards Yohanes I.</p>
                <p class="mb-0">The Rancamo Dynasty's dominance remained largely unchallenged until the arrival of humans in the 6th century, part of the Hiberno-Scottish mission to spread Celtic Christianity. The pacifist Sea Elves initially welcomed these settlers and allowed them to establish small missionary communities. Over time, conflicts arose, particularly on Jan Mayen, where human settlers expelled the Sea Elves from their ancestral lands. In response, the Sea Elves adopted tactics of subterfuge and assassination to defend their interests, something which would become relevant in the coming centuries.</p>

                <h3 class="mt-2">Warring States</h3>
                <p>In 900 AD, the Rancamo Dynasty ended abruptly with the assassination of Emperor Mlieo II and all his heirs by a Sea Elf assassin, an act attributed to the Black Coral organization. This assassination triggered the Warring States period, a time of chaos and conflict in which no sole power controlled Kractero.</p>

                <figure class="float-none sm:float-right m-auto sm:mt-2 sm:mb-4 sm:ml-4 border border-white rounded-lg w-72">
                    <img class="p-4 pb-0" src="./Earthen.png" alt="Earthen ring" />
                    <figcaption class="text-center text-sm p-2 pt-0 mt-1">Painting of a dwarven member of the Earthen ring</figcaption>
                </figure>

                <p>During the Warring States period, various elven warlords rose and fell as they fought for political dominance of Kractero. The political influence of the sentient Auks diminished, while humans began to establish a significant presence within the growing merchant class of the western elven kingdoms. In this period, the long period of unity between the high elves and wood elves shattered.</p>
                <p>The Earthen Ring, a splinter faction of Deep Elves, was deeply angered and felt disrespected by the Wood Elves' appropriation of Herta's name for their capital. They would ally with the high elven army in the Earthen War, which culminated in the Battle of the Woodlands in 1322 would mark the end of the warring states era, where the high elves and Earthen decisively defeated a coalition of the other elves. This battle marked the height of High Elven magical power and concluded the Warring States period, paving the way for the establishment of the Meritus Dynasty.</p>
                <p>Under the Meritus Dynasty, strict measures were implemented to diminish the power of individual tribes, suppress the influence of the Black Coral organization, and limit the authority of the sentient Auk class. The nation also closed its borders to foreign trade, except for the city of Qalinor, in order to consolidate power and prevent foreign influence.</p>
                <p class="mb-0">In 1773, Emperor Leo I's eldest daughter, Leani, was sent to Londinium for studies, marking a shift from the isolationist policies of his predecessors. Upon becoming the first Empress of Kractero after her father's death, she issued a decree to reopen the nation to foreign trade and movement. This decision fostered economic growth and infrastructural development but also created tensions with the eastern kingdoms, which preferred isolationism and resented the prolonged dominance of the western kingdoms over Kractero.</p>

                <h3 class="mt-2">Constitutional Monarchy</h3>
                <p>Under Leani, Kractero's nobility began to develop an anglophile stance, significantly influenced by Empress Leani's connections to Londinium and her relationship with the House of Leo. These ties facilitated various trade agreements and diplomatic alliances with Victoria, reinforcing Kractero's pro-Victorian stance.</p>
                <p>During the Napoleonic Wars, Kractero initially maintained neutrality until it became involved in its first foreign conflict alongside Victoria in the War of the Eighth Coalition. The siege of Londinium by French invaders prompted Kractero to provide substantial support for the reconstruction of affected towns and cities in Victoria. This diversion of resources to help Victoria resulted in the weakening of central authority in Kractero, creating conditions that allowed revolutionary movements to gain traction. These came to a head in 1848, as Kractero became embroiled in the Kracterian revolution, in which a coalition of merchants and workers stormed the capital.</p>
                <p>In 1849, Empress Leani accepting the establishment of a constitution restricting the powers of the monarchy and the establishment of a council that would be headed by the monarch but filled and regulated by the people. This transition would be finished in 1859, and marked a significant shift in Kractero's political landscape. The parliament was designed to distribute power more evenly among various factions. This period transitioned Kractero from a titular empire to a kingdom.</p>
                <p>Kractero remained active in international affairs, notably contributing during the War of the Ninth Coalition in 1875. The Kracterian navy played a critical role in supporting Victoria's blockade of French shipping and naval operations, culminating in the significant Battle of Biscay.</p>
                <p>During the Great War, Kractero remained neutral, but a significant amount of Kracterian citizens chose to volunteer in foreign armies. Between 2019-2021, Kractero also intervened in the Second Victorian Civil War, aligning with House Leo against both House Draco and the various mercenaries groups seeking to take control of Victoria. Peace negotiations for this conflict took place in Merdas, the new capital established in 1915.</p>
                <p>Following the peace talks in Merdas, Kractero entered a period of relative stability and prosperity. With the threat of war diminishing, the nation focused on domestic development.</p>

                <h2 id="geography" class="mt-4 mb-2">Geography</h2>
                <p>Kractero is situated where the North Atlantic and Arctic Oceans meet. The primary landmass is positioned entirely below the Arctic Circle, and the smaller Kracterian island of Arcanum to the north intersects with the Arctic Circle.</p>
                <p>Kractero is closer to continental Europe than mainland North America, though the closest major landmass to Kractero is Greenland, which is considered a part of North America, at a distance of 290 kilometers. Geographically, the island straddles both continental plates. The nearest European landmasses include various island groups like the Faroe Islands, Jan Mayen, Outer Hebrides, and Shetland. The closest major landmass of Europe to Kractero is Scotland.</p>
                <p class="mb-0">Kractero is the world's eighteenth largest island and is Europe's second largest island, after Great Britain. The primary island is 101,826 square kilometers, and in total is 103,000 square kilometers. 62.7% of this landmass is composed of Tundra, while 14.3% are lakes and glaciers. Only 23% of the landmass supports vegetation, and the largest expanse of forest can be found in the southwest, primarily in the wood elven realms. Additionally, Kractero has thirty smaller islands, most of which are uninhabited or sparsely populated.</p>

                <h3 class="mt-4">Geology and Climate</h3>
                <p>Kractero is only 17 million years old, making it geographically youthful. It is the manifestation of the Kracterian plateau, an igneous province that is the result of volcanic activity from the Mid-Atlantic Ridge and the Plateau's hotspot. As a result, the island is geologically active and contains a very high concentration of volcanoes.</p>
                <p>The island is predominantly composed of igneous rock, such as basalt, which is commonly associated with volcanism. Kractero exhibits a diverse range of volcanoes, from composite to fissure, and around 30 of these volcanic systems are currently active.</p>
                <figure class="float-none sm:float-left m-auto sm:mt-2 sm:mb-4 sm:mr-4 border border-white rounded-lg w-72">
                    <img class="p-4 pb-0" src="./Leylines.png" alt="Leyline" />
                    <figcaption class="text-center text-sm p-2 pt-0 mt-1">A Kracterian leyline</figcaption>
                </figure>
                <p>High concentrations of tectonic activity and igneous rock are known to be generators of magic. It is believed that this is one of the factors in the high magical abundance in Kractero, though it is also agreed that this power remained relatively innate until the visit of the Herta. One of the reasons igneous rock is known to be conducive of magic is their high mineral content, though this can vary based on the composition of the magma and the conditions in which the magma cooled. Minerals also play a factor in the channeling of magic, and in particular, quartz, feldspar, and olivine are known to be the most adept. Beneath the surface of Kractero lies a network of ley lines. These ley lines crisscross the entire island, which transfer quantities of magic from the volcanic regions to other parts of Kractero.</p>
                <p>Beneath the surface of Kractero lies a network of ley lines. These ley lines crisscross the entire island, which transfer quantities of magic from the volcanic regions to other parts of Kractero.</p>
                <p class="mb-0">The coastal climate of Kractero can be classified as subarctic. The Kracterian coast is influenced by the warm North Atlantic Current, which moderates the temperature of Kractero and keeps it comparatively higher than other locations at similar latitudes. Other locations with similar climates include the Aleutian Islands, Alaska, and Tierra del Fuego, but these areas tend to be closer to the equator than Kractero. Due to this warm current, Kractero's coastal areas typically remain ice free even during the winter, and incidents of ice incursion are infrequent, despite its close proximity to the Arctic.</p>

                <h3 class="mt-2">Flora</h3>
                <p>In spite of the cold weather, Kractero is home to a large amount of plant species, many of which exhibit a high rate of endemism. Many of these species are unique to the wood elven realm. At the heart of the wood elven realm is the wood elven world tree Katla, which is classified as its own distinct species from the other world world trees, though it is believed to share some relation to Yggdrasil on the European mainland. Other plants endemic to Kractero include various smaller plants like shrubs, lichen, and moss. Many of Kractero's plants have evolved alongside magic, meaning that they possess innate magical properties.</p>
                <p>Mainland European plants can also be found on Kractero, though in smaller number. Due to the cultivation practices of the wood elves, erosion, and the unfavorable climate, these plants have struggled to establish themselves. Nonetheless, in regions where native flora have not conquered, such as the eastern coast, pockets of northern birches and willows have managed to establish small populations.</p>

                <h3 class="mt-2">Fauna</h3>
                <figure class="float-none sm:float-right m-auto sm:mt-2 sm:mb-4 sm:ml-4 border border-white rounded-lg w-72">
                    <img class="mx-auto p-4 pb-0" src="./Mudman.png" alt="Mudman" />
                    <figcaption class="text-center text-sm p-2 pt-0 mt-1">A mudman, endemic to Kractero</figcaption>
                </figure>
                <p>Kractero is home to a myriad of sentient races. Alongside elves, there are also trolls, goblins, gnolls, dwarves, harpies, centaurs, wyverns, dragons, and many more. The snow elf, which can be found in Greenland and mainland Europe, is believed to share a common story in terms of their creation. Some of these sentient races are endemic to Kractero, including the Kracterian dragon, mermaid, and harpy, and various subspecies of the others. Notably, the sentient auks stand as a unique branch of the auk family, known for their intelligence and historical roles in government.</p>
                <p>Other non sentient animals that can be found in Kractero include the basilisk and the mudman. Most fantastical animals can be found in some variation within Kractero. Endemic varieties include the Kracterian hydra, which is commonly found co-habiting with the gnarl, an aquatic creature native to Kractero. The gnarl is unique for its symbiotic with the hydra, where gnarls protect hydra eggs and nurture them while they are young. Other animals that can be found in Kractero include a variety of species that are native to the Arctic Circle or were introduced by Kracterians or humans. These include polar bears, the Arctic fox, the reindeer, and the grey wolf.</p>
                <p>As with the plants, these animals evolved alongside magical forces, influencing their development. Many creatures possess innate magical abilities. Some of these include the mudman's ability to solidify its skin and the various elemental aptitudes of the dragons.</p>

                <h2 id="government" class="mt-4 mb-2">Government</h2>
                <p>The basis of the Kracterian government is the Kracterian constitution, which was written in 1849 as a result of the 1848 Kracterian revolution. The constitution defines a split in the government into the legislative, executive, and judicial branch. It delineates powers and responsibilities to the federal and realm government, in addition to granting certain rights and freedoms to the people. The constitution is subject to amendment by the Kracterian parliament.</p>
                <p>The judicial system of Kractero operates through a hierarchy of courts, with the Supreme Court serving as the highest level. The Supreme Court is tasked with reviewing laws for constitutionality.</p>

                <h3 id="legislature" class="mt-2">Legislature</h3>
                <p>The Kracterian Parliament serves as the bicameral legislature of Kractero. Comprising two chambers, the House of Lords and the House of Commons, Parliament holds significant powers in the governance and legislative processes of the nation. Parliament is headed by the head councillor, equivalent to the prime minister of other countries.</p>

                <p>The upper chamber of Parliament, the House of Lords, has a total of 100 members. Each realm is granted 15 seats, with the remaining 10 seats being distributed among other major groups within the nation. The primary function of the House of Lords is to deliberate on proposed legislation, drafting amendments and rejecting bills. In the event of rejections, the House of Commons can overturn rejections, serving as a sort of veto mechanism. Additionally, the House of Lords participates in the removal of council members and holds sway over the federal budget.</p>

                <p>The House of Commons is the lower part of Parliament. Compared to the House of Lords, the House of Commons is granted much more legislative power, which most importantly includes the drafting of new legislation. Proposed bills must pass the House of Lords, and if rejected, the House of Commons can override with a two-thirds majority vote. In rare cases where the Council rejects, a three-fourths majority is necessary. The number of deputies in the Commons varies, with larger realms being granted proportionally more representatives.</p>

                <h3 id="executive" class="mt-2">Executive</h3>
                <p>The Council of Kractero is the nation's executive branch, and has seven members. Of these members, five of them come from the five elven tribes, one of them from the sentient auks, and one from the other notable races. The head of the council is the nation's monarch, which has been under the Meritus dynasty, and serves as the head of state. The head councilor, equivalent to the prime minister, is the head of government and reports to both the council and Parliament. The council's power includes appointing the members of the House of Lords, appointing court judges, and the ability to dissolve Parliament. The council can also declare war, manage diplomacy, veto laws, and other functions.</p>
                <p>Of the five seats designated for the elven realms, four are occupied by members of their respective elven races: high elf, wood elf, sea elf, and dark elf. The leader of House Meritus traditionally holds the seat of the high elves, while other elven seats may or may not be occupied by subdivisional leaders. The deep elves, whose realm operates democratically, occasionally nominate non-deep elves to represent them on the council.</p>

                <h3 id="constituents" class="mt-2">Constituents</h3>
                <p>Kractero is a federation, with the nation being divided into five realms, with one federal district.</p>

                <figure class="border border-white rounded-lg mx-auto max-w-4xl">
                    <img class="mx-auto p-8" src="./Admin.png" alt="Mudman" />
                </figure>

                <p>The Kingdom of <strong>Tyrania</strong>, also known as the high elven realm, is a federal constitutional monarchy. Governed by the House of Meritus, Tyrania operates under a system where the national government maintains significant authority over its affairs, similar to England in Victoria.</p>
                <p>The Kingdom of <strong>Katladen</strong>, also known as the wood elven realm, is a federal constitutional monarchy. Governed by the House of Camor, Katladen is offered some autonomy but is also under some federal oversight. The House of Camor wields significant influence over the realm's affairs. Katladen has its own parliamentary system, where the Katladenian Parliament exercises jurisdiction over internal matters unless expressly delegated to the national government. There have been concerns within Katladen regarding the erosion of sovereignty due to the close collaboration between the wood elven and high elven populations. Though this historical parternship has benefitted both sides in some capacity, some in Katladen advocate for a stronger divide between the two and the reinforcement of safeguards to protect Katladen's identity.</p>
                <p>The Realm of <strong>Karstug</strong>, also known as the dark elven realm, is a duarchic merit-based monarchy. Karstug is led by two individuals, one male and one female, who are chosen through a rigorous process of ritual combat that is conducted during a tournament that pits all tribes against each other. Dark elven politics is known to be cutthroat and adept political maneuvering and strategy is necessary.</p>
                <p>The Kingdom of <strong>Serika</strong>, also known as the sea elven realm, is an absolute monarchy under the House of Serika, who have led the sea elves for generations. Serika's involvement with the Black Coral, a significant private military entity and also the same entity that led to the fall of the Rancamo dynasty, keeps it very relevant to national politics. Serika plays a vital role in the Kracterian Coast Guard and the Kracterian navy, playing a large role in protecting Kracterian naval interests and its maritime borders.</p>
                <p>The Republic of <strong>Deproga</strong>, also known as the deep elven realm, is the realm that is a republic and is currently governed by the Dwarven Democratic Party. Elections are held every four years in the realm, and due to the realm having a non-elven majority, it is not uncommon to see non-elves head the realm.</p>
                <p>The federal city of <strong>Merdas</strong> serves as the capital of Kractero, located outside any realm jurisdiction but surrounded by the high elven realm. Established in 1915, Merdas was constructed as a more central capital in relation to the western kingdoms. Merdas's location on the western side of Kractero has been a source of internal contention, and there have been proposals for the construction of a more centralized capital, those these have stalled.</p>

                <h3 id="other" class="mt-2">Other Groups</h3>
                <p>Within the Kracterian population, several other significant groups hold influence alongside the dominant elven tribes.</p>
                <p>The sentient auks are important players within Kractero, holding a permanent seat on the Kracterian council. Sentient auks are primarily found in the Merdas capital district and the areas around it in Tyrania.</p>
                <p>Other notable groups like the harpies, dwarves, trolls, goblins, and humans, while constituting a sizable plurality against the total elven population, these groups are allocated only one collective seat on the Kracterian council. Despite their numerical strength, their political representation is limited. These groups have the opportunity to hold the seat representing Deproga on the Kracterian council.</p>

                <h3 id="foreign" class="mt-2">Foreign Relations</h3>
                <p>Kractero has many established formal relations across the world. The country was a founding member of the World Assembly. The nation largely remains neutral in terms of governmental organizations. Kractero has formal diplomatic ties with all countries in the world and has embassies in all of them.</p>
                <p>Among its closest allies are Victoria, the Nordic countries, and Japan. The relationship with Victoria, in particular, is characterized by a "special relationship", having one of the oldest alliances in Europe. There is an open border and travel policy between the two nations and a free trade compact between the two. The Nordics are geographically close, politically similar, and also have large elven populations, though snow elves. Japan is a close partner in magical endeavors and the royal families have historically had good ties.</p>
                <p>Kractero actively participates in magical collaboration within the global magical community. Among Kractero's key partners in this endeavor are Japan and Germany. Kractero is a member of the Ministry for the Administration of Natural Arcana, or MANA.</p>

                <h3 id="military" class="mt-2">Military</h3>
                <p>The Kracterian Armed Forces encompass the Kracterian Army, the Royal Kracterian Navy, and the coast guard. The army maintains the national air force. With a military budget accounting for 1.5% of the national GDP, significant investments are directed towards naval research and development, particularly enhancing the effectiveness of individual soldiers. The nation also leverages the expertise of private military organizations such as the Black Coral, renowned sea elven privateers, to reinforce its security apparatus.</p>
                <p>Kractero boasts the world's most advanced navy and coast guard. The coast guard, predominantly staffed by sea elves, safeguards Kractero's maritime borders, while innovations in naval technology, particularly kanmasu living ship girls, are spearheaded by the human population. Collaborative efforts with the Empire of Japan led to the discovery of kanmasu summoning technology, revolutionizing naval operations. Notably, the navy's flagship, KNF Katla, is named after the revered wood elven world tree.</p>

                <h2 id="demographics" class="mt-4 mb-2">Demographics</h2>
                <p>According to the 2023 Kracterian census, the population of Kractero totaled 1,899,277 individuals. Due to the unique reproductive characteristics of elves, natural population growth has remained sluggish. However, the influx of immigrants and foreign workers has contributed to a gradual increase in population figures.</p>

                <p>Kractero maintains a relatively low population density of 18.4 individuals per square kilometer, making it one of the least densely populated nations globally. Urbanization is predominant, with nearly 90% of the population residing in urban centers, particularly concentrated along the western corridor and within the sea elf realm. The "western corridor," encompassing the coastal regions from Qalinor to the federal district and the wood elf megalopolis, is the primary metropolis and population/economic center of the nation.</p>

                <div class="overflow-x-auto mt-0">
                    <h4 class="text-center">Largest Cities/Metro Regions of Kractero</h4>
                    <table class="min-w-full border border-white text-sm text-left">
                            <thead>
                                <tr>
                                    <th class="border border-white px-4 py-2">Rank</th>
                                    <th class="border border-white px-4 py-2">Name</th>
                                    <th class="border border-white px-4 py-2">Kingdom</th>
                                    <th class="border border-white px-4 py-2">City Proper Pop</th>
                                    <th class="border border-white px-4 py-2">Metro Pop</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border border-white px-4 py-2">1</td>
                                <td class="border border-white px-4 py-2">Herta</td>
                                <td class="border border-white px-4 py-2">Katladen</td>
                                <td class="border border-white px-4 py-2">439,000</td>
                                <td class="border border-white px-4 py-2">575,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">2</td>
                                <td class="border border-white px-4 py-2">Merdas</td>
                                <td class="border border-white px-4 py-2">Merdas</td>
                                <td class="border border-white px-4 py-2">412,000</td>
                                <td class="border border-white px-4 py-2">515,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">3</td>
                                <td class="border border-white px-4 py-2">Qalinor</td>
                                <td class="border border-white px-4 py-2">Tyrania</td>
                                <td class="border border-white px-4 py-2">201,000</td>
                                <td class="border border-white px-4 py-2">201,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">4</td>
                                <td class="border border-white px-4 py-2">Kenras</td>
                                <td class="border border-white px-4 py-2">Serika</td>
                                <td class="border border-white px-4 py-2">150,000</td>
                                <td class="border border-white px-4 py-2">162,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">5</td>
                                <td class="border border-white px-4 py-2">Kalimdor</td>
                                <td class="border border-white px-4 py-2">Katladen</td>
                                <td class="border border-white px-4 py-2">105,000</td>
                                <td class="border border-white px-4 py-2">110,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">6</td>
                                <td class="border border-white px-4 py-2">Auriel</td>
                                <td class="border border-white px-4 py-2">Tyrania</td>
                                <td class="border border-white px-4 py-2">80,000</td>
                                <td class="border border-white px-4 py-2">85,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">7</td>
                                <td class="border border-white px-4 py-2">Mankar</td>
                                <td class="border border-white px-4 py-2">Katladen</td>
                                <td class="border border-white px-4 py-2">72,000</td>
                                <td class="border border-white px-4 py-2">74,500</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">8</td>
                                <td class="border border-white px-4 py-2">Valens</td>
                                <td class="border border-white px-4 py-2">Karstug</td>
                                <td class="border border-white px-4 py-2">65,000</td>
                                <td class="border border-white px-4 py-2">67,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">9</td>
                                <td class="border border-white px-4 py-2">Atlantis</td>
                                <td class="border border-white px-4 py-2">Serika</td>
                                <td class="border border-white px-4 py-2">45,000</td>
                                <td class="border border-white px-4 py-2">50,000</td>
                            </tr>
                            <tr>
                                <td class="border border-white px-4 py-2">10</td>
                                <td class="border border-white px-4 py-2">Karth</td>
                                <td class="border border-white px-4 py-2">Deproga</td>
                                <td class="border border-white px-4 py-2">20,000</td>
                                <td class="border border-white px-4 py-2">69,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3 id="racial" class="mt-2">Racial Groups</h3>

                    <p>Kractero is a very diverse country, characterized by a mix of sentient species. Within the elven populace, the wood elves and dark elves stand as the largest groups. The dwarves are the most prominent non-elven community, predominantly inhabiting regions regions bordering dark elven and deep elven territories.</p>
                    <p>Kractero is also home to the Kracterian people, a human ethnic group. Descendants of settlers from Ireland, Galicia, the Nordic countries, and Portugal, the Kracterian ethnic group has forged a unique identity within Kractero and helped in development of Common Kracterian English.</p>

                    <h3 id="religion" class="mt-2">Religion</h3>
                    <p>The Kracterian government has adopted a stance of state atheism. This policy traces its origins to the start of the Meritus Dynasty, who implemented stringent measures seeking to curb the spread of foreign religions, as a result of the warring state period having been caused by the encroachment of Christian missionaries.</p>
                    <p>Despite the state's atheistic stance, Kracterian culture is very animist. It is important to note that these animistic values are not considered religious in nature by the government. The national animist belief system is referred to as Aldasa in Kractero, and Aldasa worship is commonplace amongst the Kracterian population.</p>
                    <p>Within the various realms of Kractero, adherence to religious beliefs tends to fall under Aldasa, a syncretic mix of the regional elven traditions with Aldasa, or are just the traditional faiths. While human religions have made some inroads, particularly in cosmopolitan centers like Qalinor and Merdas, their spread remains limited. The slow dissemination of human religions is partly attributed to the cultural dominance of the elven population and the historical legacy of elven rule in Kractero.</p>

                    <h3 id="language" class="mt-2">Language</h3>
                    <p>Kractero is a very linguistically diverse country, with many living languages spoken amongst the populace. The official, most spoken first language, and lingua franca of the country is English, rising in use during the rule of Emperor Leo I and being selected as the official language during the rule of Empress Leani.</p>
                    <p>Kracterian is the native language of the Kracterian human ethnic group, a Celtic language that blends elements of the Celtic languages it descends from, Norse, English, and the various elven language it came in contact with. Additionally, various realm languages such as Tyranian, Rancamoian, Serikaese, and Valenish, alongside deep elvish dialects, dwarvish, and numerous others, are spoken in Kractero.</p>


                    <h3 id="education" class="mt-2">Education</h3>

                    <p>Education in Kractero is highly prioritized by the government. While the mandated duration of education varies across regions, there exists a strong cultural emphasis on pursuing higher education. Individuals who do not pursue higher education or lack gainful employment are sometimes derogatorily referred to as "lichen".</p>

                    <figure class="float-none sm:float-left mx-auto sm:mt-2 sm:mb-4 sm:mr-4 border border-white rounded-lg w-72">
                        <img class="mx-auto p-4 pb-0" src="./Library.png" alt="University of Herta" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">University of Herta</figcaption>
                    </figure>

                    <p>Primary and secondary education is organized at the realm level. Since the 1950s, the government has been committed in providing free education for all citizens from primary school to university, a policy supported by substantial government investment. Education expenditure comprises approximately 5.5% of the national GDP. Kractero has also emerged as a pioneer in online schooling, an effort to support the may rural communities in Kractero.</p>
                    <p>Kracterian education system is criticized for its reliance on a national examination, referred to in the country as "the Test". The test is very similar to national exams found in East Asia, and can largely decide a student's educational future. The test is criticized for the intense pressure it puts on both students and parents, which has resulted in a growing number of students using extracurricalar education. High performance on the Test is correlated with enhanced college acceptance rates, particularly notable at institutions such as the University of Herta.</p>
                    <p>The nation has numerous highly regarded universities, including the University of Herta, University of Qalinor, Merdas University, the School of Katla, and the Colleges of Karth. These institutions enjoy international acclaim, with the University of Qalinor ranking among the top European universities. Furthermore, Kractero hosts specialized schools catering to diverse disciplines, such as Arcanletia for wizardry education, the Deep Rock Mining Institute, and the Auk Flight School.</p>

                    <h3 id="health" class="mt-2">Health</h3>
                    <p>Kractero has a very high life expectancy, among the highest in the world, even taking into consideration the average lifespan of the elves. The nation provides universal healthcare to all citizens, and many opt for supplementary services via their employers or specialized providers. The primary causes of death within Kractero are noncommunicable diseases, like mana burn or cancer.</p>
                    <p>Obesity rates in Kractero are low, affecting aproximately 4.5% of the population, making it rank among the lowest in the world. The nation has lower incidents of dementia and heart-related ailments compared to other industrialized countries. However, Kractero has higher suicide rates than normal, averaging around 15 per 100,000 individuals, though these rates can vary significantly based on the region or realm.</p>
                    <p>Kractero was the second country in the world to decriminalize the usage of common drugs after Lusitania, decriminializing them in 2003. Drugs that are illegal in other nations, such as marijuana, cocaine, and LSD are legal in Kractero. The law has many caveats, however, and largely depend on the amount of in possession and the purpose of possession. Among the drugs mentioned, usage is quite low among Kracterians, and most Kracterians tend to use more traditional natural "drugs" typically associated with magic and nature. Since adopting the policy, deaths due to drug-related incidents has decreased.</p>

                    <h2 id="culture" class="mt-4 mb-2">Culture</h2>
                    <p>Kractero is a diverse nation, with many cultures, languages, and traditions. The culture of Kractero is a blend of the various races, ethnicities, and beliefs that make up the nation, with each realm and group having stark differences to each other. The culture has primarily been shaped by the historical dominance of the western kingdoms of Tyrania and Katladen. Kracterian culture is collectivist and maintains a strong sense of shared community. Nature and magic hold significant importance in Kracterian culture.</p>

                    <h3 id="cuisine" class="mt-2">Cuisine</h3>
                    <p>Kracterian cuisine is a blend of the cuisine of its constituents, with each elven race contributing unique flavors and culinary traditions. The humans of Kractero also have a cuisine similar to that of their Celtic cousins, but differ due to a difference in regional ingredients.</p>
                    <p>Wood elves make use of the plants and animals found within their forests. Wood elven dishes are known to be make use of herbs and wild game. Common ingredients found within wood elven dishes include mushrooms, venison, and root vegetables. Dark elven cuisine is characterized by its bold flavors and spice. Notable dark elven dishes include roasted mountain goat and dark elven stew. The sea elves cuisine feature fish and shellfish, and make liberal use of citrus flavors and sea salt. Deep elven cuisine is known for its creativity, as the terrain of their realm is known for the scarcity of its resources. A notable ingredient in deep elven cuisine are various types of bioluminescent mushrooms, which are known for their magical properties.</p>
                    <p>Kracterian cuisine incorporates alchemical compounds and magical substances, which additionally give its cuisine magical properties.</p>

                    <figure class="float-none sm:float-right m-auto sm:mt-2 sm:mb-4 sm:ml-4 border border-white rounded-lg w-72">
                        <img class="mx-auto p-4 pb-0" src="./Sporting.png" alt="Witch sporting event" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">Witches flying in a broom race</figcaption>
                    </figure>

                    <h3 id="magic" class="mt-2">Magic</h3>
                    <p>Magic in Kractero is present in every aspect of life, making it almost mundane. Magic has played an instrumental role in shaping the nation's identity and culture. Aldasa, the traditional Kracterian faith, is heavily intertwined with magic.</p>
                    <p>Kractero is a major player in the international magic scene, particularly in magical competitions. The nation has a longstanding rivalry with German magicians. The rivalry between Kracterian and German mages dates back centuries and has sparked numerous well-publicized duels. The nation is first in the world in gold medals at the Circean Games.</p>
                    <p>In spellcrafting, Kractero is widely regarded and has some of the most renowned magical academies and research institutions in the world. The University of Herta frequently ranks at the top of the best schools for mages internationally.</p>

                    <h3 id="music" class="mt-2">Music</h3>

                    <figure class="float-none sm:float-left m-auto sm:mt-2 sm:mb-4 sm:mr-4 border border-white rounded-lg w-72">
                        <img class="mx-auto p-4 pb-0" src="./Harp.png" alt="High elven bard" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">High elven bard with a traditional harp</figcaption>
                    </figure>

                    <p>Modern Kracterian music is a mixture of the various regional variations that reflect each realm's culture. The most prevalent genre is Kracterian pop, which blends elements of high elven and wood elven music and draws inspiration from Columbian and East Asian pop. This genre developed separately in both Merdas and Kenras. The idol subgenre of Kracterian pop is strong, due to the nation's close ties to East Asia.</p>
                    <p>Traditional music in Kractero can vary greatly based on the realm. Typically, all the elven races make use of lutes, flutes and drums, but the sounds can vary due to differences in their construction based on the resources of the realm. One of these variations can be found in Serika, where the sea elves make use of whale bones to build their instruments. Each realm's music can be tied to their natural surroundings as well.</p>
                    <p>Electronic music has enjoyed an increase of popularity in Kractero, and the country hosts some of the largest electronic music festivals in the world. Events like Deep Rock Electric in Karth, Sunburn in Merdas, Zoukout in Qalinor, various Ultra Music festivals, and Clockenflap in Arcanletia attract fans of electronic music from around the world. Dutch DJ Aurora, a resident of Kractero, headlines events like DeepRock Electric annually.</p>

                    <h3 id="literature" class="mt-2">Literature and Visual Arts</h3>
                    <p>The earliest forms of Kracterian literature are primarily epics and narratives that depict historical events. Some of these texts include Bloodstone and Sea's Embrace, whcih are dark and sea elven works, respectively. Notable authors of Kracterian literature include the dark elf Veloth, known for the romance series At Odds, released in the mid 19th century and has been translated into over twenty different languages. It is said to be based on the historical relationship between Victoria and France.</p>
                    <p>Kractero has a tradition of magical scroll writing. These scrolls, which often use the old Kracterian writing script, are highly valued among magical scholars internationally. Neloth, a dark elven mage, is sometimes seen as the greatest "scroll writer" of all time.</p>
                    <p>The nation has a large subculture of East Asian visual arts, primarily Japanese. Manga-inspired illustrations and anime-style animations have been becoming ever more popular among Kracterian artists and creators.</p>
                    <figure class="float-none sm:float-right m-auto sm:mt-2 sm:mb-4 sm:ml-4 border border-white rounded-lg w-72">
                        <img class="mx-auto p-4 pb-0" src="./Atlantis.png" alt="Atlantis Fleet" />
                        <figcaption class="text-center text-sm p-2 pt-0 mt-1">The Atlantis Fleet, the winningest team in the Kracterian Football League</figcaption>
                    </figure>

                    <h3 id="sports" class="mt-2">Sports</h3>
                    <p>Football (soccer) is the most popular sport in Kractero. The Kracterian Football League enjoys significant viewership. Notable Kracterian players like Marques Lebrown have achieved international success and fame. The Kracterian National Team is known for its rivalry with the Victorian National Team, one of the oldest in the world.</p>
                    <p>In addition to football, basketball has rapidly gained popularity as Kractero's second most popular sport. Basketball's growth in Kractero can be attributed to the increase of Kracterian athletes representing the nation in international leagues like the Columbian National Basketball Association. Some notable athlete including the high elf Alinor Alicarth, who played for the Seattle Supersonics in the 1990s, and Hugo Rebelo, a Kracterian human, currently with the San Antonio Spurs. The untimely death of basketball icon Kobe Bryant in 2020 prompted a day of national mourning in Kractero.</p>
                    <p>Magical sports are also prevalent in Kractero. These include magic duels, broom races, and the Victorian sport of Quidditch.</p>

                    <h2 id="economy" class="mt-4 mb-2">Economy</h2>
                    <p>Kractero has a social market economy and is highly diversified. Services make up the majority of the workforce and gdp, but fishing and the industrial sector also accounts for a large portion of the GDP and employment. Kractero recorded a GDP (PPP) of $325 billion and a per capita GDP (PPP) of $171,118 in 2024. The official currency of Kractero is the Kracterian Dollar (KPD). Kractero is considered a great power with considerable economic strength.</p>
                    <p>Notable sectors in Kractero include technology, magical research and development, shipping, and eco-tourism. Eco-tourism is a rapidly growing industry within Kractero, with the nation being known for its biodiversity and the relatively untouched nature of its landscapes. Many travelers visit Kractero to view notable sites like the world tree Katla, or visit the many fjords that make up the Kracterian coast.</p>

                    <h3 id="technology" class="mt-2">Magic and Technology</h3>
                    <p>Kractero has long played a pivotal role in magical innovation. As a result of the nation's geographic isolation, Kracterian mages and enchanters independently developed magical systems still in use in Kractero today. During the Magical Renaissance of the 15th and 16th centuries, Kracterian magic systems were greatly influenced by that of Europe. While the borders were closed under the Meritus Dynasty, this closure did not extend to magic. This allowed Kractero, and in particular the western kingdoms, to emerge as a hub of magical development. Many notable Kracterian mystics rose from this period, including the dark elven mage Neloth and high elven enchantress Seraphina.</p>
                    <p>Kractero is known for its strong presence in alchemy and in enchanting, which can be derived from the works from notable alchemists and diviners like Archmage Magnus and Sorceress Celestia. The former's works in alchemy led to new breakthroughs in the understanding of alchemical compunds, while the latter's work in astral projection is the foundation of modern divination and enchanting.</p>
                    <p>The Institute of Magical Engineering, founded in collaboration with technomancers and artificers, has pioneered groundbreaking advancements in magical machinery and devices.</p>

                    <h3 id="transport" class="mt-2">Transport</h3>
                    <p>The country's railway system is operated by the Kracterian Railroad Authority is known for its high-speed rail, which is among the most extensive in the world. Its networks connect most of the country and current efforts are focused on expansion into the more rural and rugged parts of the nation.</p>
                    <p>Merdas International Airport is the largest and busiest airport in the country, and handles the vast majority of commerical and economic traffic, and has flights to virtually all major world cities. The national airline is Air Kractero, and there are also numerous amounts of private companies. Other major airports include Qalinor International Airport and Katladen Airport. Kractero's ports are among the busiest in Europe, the largest of which is the Port of Qalinor, though the most popular in terms of commercial traffic is the Port of Merdas.</p>
                    <p>Kractero is also known for its magical transportation. Enchanted portals, levitation spells, and flying mounts provide alternative options for commuting and exploration, particularly in remote or inaccessible areas. The nation's waygate system adheres to the international standard and connects it to locations throughout the world.</p>

                    <h3 id="energy" class="mt-2">Energy</h3>
                    <p>Kractero is a global leader in renewable energy production, owing to its natural terrain. The large amounts of geologic and volcanic activity makes Kractero one of the world's largest producers of geothermal energy. The nation also is heavily reliant on wind and hydroelectric energy. The nation's relatively large swathes of uninhabitated and desolate land plays host to large wind farms, allowing it to generate an energy surplus.</p>
                    <p>The nation is also significantly reliant on magical energy. The country heavily invests into the development of magical energy and has a large network of leyline conduits and supply of welkynd crystals. Consequently, almost 60% of Kractero's electricity and power is sourced from magical power, which is among the highest figures in the world. Kractero is considered a world leader in magical energy.</p>
                </div>

    </article>

  </div>
</Layout>
